*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #FFD845;
}

.pokemon{
    /* justify-content: space-between; */
    display: flex;
    gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
    /* background: #FFD845; */
}

.buttns{
    margin-top: 30px;
    margin-bottom: 30px;
}

.pokemon_logo{
    text-align: center;
    margin: auto;
}

.film{
    width: 22%;
    border: 2px solid black;
    border-radius: 20px;
}


.gross{
    width: 20%;
    border-radius: 15px;
    border: 2px solid black;
}

.button{
    width: 20%;
    border-radius: 15px;
    border: 2px solid black;
}

.input-group{
    display: flex;
    width: 20%;
    height: 50px;
}

.btn{
    height: 7vh;
}

.form-outline{
    display: flex;
    height: 7vh;
}

.form-label{
    position: absolute;
    top: 6px;
}



/* Film stieles */

h4{
    border-top: 2px solid black;
}

p{
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
}

span{
    display: block;
    font-size: 19px;
    font-weight: 800;
}

